<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Shop</title>
</head>
<body>
{% if userName == null %}
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/signup">Sign Up</a>
    </li>
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Products
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/home/All">All Products</a></li>
            <li><a class="dropdown-item" href="/home/Fruits">Fruits</a></li>
            <li><a class="dropdown-item" href="/home/Dairy">Dairy Products</a></li>
            <li><a class="dropdown-item" href="/home/Snacks">Snacks</a></li>
            <li><a class="dropdown-item" href="/home/Toys">Toys</a></li>
        </ul>
    </div>
</ul>
{% else %}
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page">{{ userName }} {{ userSurname }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/add">Add Product</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/basket/{{ userId }}">Basket</a>
    </li>
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Products
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/home/All">All Products</a></li>
            <li><a class="dropdown-item" href="/home/Fruits">Fruits</a></li>
            <li><a class="dropdown-item" href="/home/Dairy">Dairy Products</a></li>
            <li><a class="dropdown-item" href="/home/Snacks">Snacks</a></li>
            <li><a class="dropdown-item" href="/home/Toys">Toys</a></li>
        </ul>
    </div>

</ul>
{% endif %}
<div id="global-list">
{% for product in products %}
<div class="card">
    <img class="card-img-top">

    <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p>{{ product.price }}$</p>
        <p>Products: {{ product.count }}</p>
        {% if userName != null %}
        <form method="post" action="/wish/{{ product.id }}">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Amount</span>
                <input type="number" min="0" max="{{ product.count }}" class="form-control"
                       aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-default" name="count" required>
            </div>
        <Button class="btn btn-info" role="button" type="submit">Add</Button>
        </form>
        {% endif %}
    </div>
</div>
{% endfor %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>